################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hrobox/Hrobox/obj
/Hrobox/Hrobox.Android/obj
/.vs
/Hrobox/.vs/Hrobox
/Hrobox/Hrobox.Android/bin/Debug
/Hrobox/Hrobox/bin/Debug/netstandard2.0
Hrobox/Hrobox.Android/Hrobox.Android.csproj.user
Hrobox/Hrobox.Android/Hrobox.Android.csproj.user
Hrobox/Hrobox.Android/Hrobox.Android.csproj.user
Hrobox/Hrobox.Android/Hrobox.Android.csproj.user
*.cs
*.cs
