################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hrobox/Hrobox/obj
/Hrobox/Hrobox.Android/obj
